.main {
    -fx-background-color: #d8d8d8;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-border-color: #dcdcdc;
}

.pagination {
    -fx-arrows-visible: false;
    -fx-page-information-visible: false;
}

.logo {
    -fx-background-image: url("icons/logo.png");
}

.anchorplane {
    -fx-background-color: #ffffff;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-border-color: #dcdcdc;
}

.plane {
    -fx-background-color: #eeeeee;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-border-color: #dcdcdc;
}

.scroll-pane {
    -fx-background-color: transparent;
}
.scroll-pane .viewport {
    -fx-background-color: transparent;
}

.scroll-pane .scroll-bar:vertical {
    -fx-background-color: transparent;
}
.scroll-pane .scroll-bar:vertical .thumb {
    -fx-background-color: #4e4e4e8a;
}
.scroll-pane .scroll-bar:vertical .increment-button,
.scroll-pane .scroll-bar:vertical .decrement-button {
    -fx-background-color: transparent;
}
.scroll-pane .scroll-bar:vertical .increment-arrow,
.scroll-pane .scroll-bar:vertical .decrement-arrow {
    -fx-background-color: transparent;
}
.scroll-pane .scroll-bar:vertical .increment-arrow:hover,
.scroll-pane .scroll-bar:vertical .decrement-arrow:hover,
.scroll-pane .scroll-bar:vertical .increment-arrow:pressed,
.scroll-pane .scroll-bar:vertical .decrement-arrow:pressed {
    -fx-background-color: transparent;
}

.scroll-pane .scroll-bar:horizontal .thumb {
    -fx-background-color: #4e4e4e8a;
}
.scroll-pane .scroll-bar:horizontal .increment-button,
.scroll-pane .scroll-bar:horizontal .decrement-button {
    -fx-background-color: transparent;
}
.scroll-pane .scroll-bar:horizontal .increment-arrow,
.scroll-pane .scroll-bar:horizontal .decrement-arrow {
    -fx-background-color: transparent;
}
.scroll-pane .scroll-bar:horizontal .increment-arrow:hover,
.scroll-pane .scroll-bar:horizontal .decrement-arrow:hover,
.scroll-pane .scroll-bar:horizontal .increment-arrow:pressed,
.scroll-pane .scroll-bar:horizontal .decrement-arrow:pressed {
    -fx-background-color: transparent;
}


.textarea {
    -fx-background-color: #eeeeee;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-border-color: #dcdcdc;
}

.button {
    -fx-background-color: transparent;
    -fx-background-size: 50px 50px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-text-fill: transparent;
    -fx-background-radius: 10;
    -fx-border-color: transparent;
}

.regularbutton {
    -fx-background-radius: 10;
    -fx-background-color: #ff9933;
    -fx-text-fill: #ffffffcb;
}

.regularbutton:hover {
    -fx-background-color: #ffbc7a;
    -fx-text-fill: #ffffffe0;
}

.regularbutton2 {
    -fx-background-radius: 10;
    -fx-background-color: #b6b6b6;
    -fx-text-fill: #f0f0f0cb;
}

.regularbutton2:hover {
    -fx-background-color: #ffbc7a;
    -fx-text-fill: #ffffffe0;
}

.textinput {
    -fx-background-radius: 5;
    -fx-background-color: linear-gradient(to bottom, #b8b8b8, #c5c5c5);
    -fx-text-fill: #4e4e4e;
}

.textinput-error {
    -fx-border-radius: 5;
    -fx-border-color: #ff0000;
}

.selection {
    -fx-background-color: transparent;
    -fx-background-size: 50px 50px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-text-fill: transparent;
    -fx-background-radius: 10;
    -fx-border-color: transparent;
    -fx-background-image: url("icons/selection.png");
}


.button.recipelist {
    -fx-background-image: url("icons/recipe_list.png");
}
.button.recipelist-active {
    -fx-background-image: url("icons/recipe_list_selected.png");
    -fx-opacity: 1;
}

.button.favlist {
    -fx-background-image: url("icons/fav_list.png");
}
.button.favlist-active {
    -fx-background-image: url("icons/fav_list_selected.png");
    -fx-opacity: 1;
}

.button.edit {
    -fx-background-image: url("icons/edit.png");
}
.button.edit-active {
    -fx-background-image: url("icons/edit_selected.png");
    -fx-opacity: 1;
}

.button.import {
    -fx-background-image: url("icons/import.png");
}
.button.import-active {
    -fx-background-image: url("icons/import_selected.png");
    -fx-opacity: 1;
}

.button.cart {
    -fx-background-image: url("icons/cart.png");
}
.button.cart-active {
    -fx-background-image: url("icons/cart_selected.png");
    -fx-opacity: 1;
}

.recipetextfield {
    -fx-background-color: #e7e5e6;
}

.recipetextarea {
    -fx-background-color: #e7e5e6;
}

.texttitle {
    -fx-color: #878787;
    -fx-font-family: Roboto;
}

.button.addstep {
    -fx-background-image: url("icons/plus.png");
}

.button.createrecipe {
    -fx-background-color: white;
    -fx-color: #878787;
    -fx-font-family: Roboto;

}

.button.time {
    -fx-background-image: url("icons/time.png");
}

.button.difficulty {
    -fx-background-image: url("icons/difficulty.png");
}

.button.cuisine {
    -fx-background-image: url("icons/cuisine.png");
}

.button.category {
    -fx-background-image: url("icons/category.png");
}

.button.bju {
    -fx-background-image: url("icons/bju.png");
}

.button.favbutton {
    -fx-background-image: url("icons/favbutton.png");
}
.button.favbutton-active {
    -fx-background-image: url("icons/favbutton_active.png");
}

.button.addbutton {
    -fx-background-image: url("icons/plus.png");
}
.button.addbutton:hover {
    -fx-background-image: url("icons/plus_hover.png");
}

.button.addbutton {
    -fx-background-image: url("icons/plus.png");
}